---
import BlogPosts from "../../components/BlogPosts.astro";
import Footer from "../../components/Footer.astro";
import GitHubStats from "../../components/GitHubStats.astro";
import Hero from "../../components/Hero.astro";
import Projects from "../../components/Projects.astro";
import Skills from "../../components/Skills.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}
---

<Layout>
  <div class="selection:bg-green-200">
    <Hero />
    <Projects />
    <GitHubStats />
    <Skills />
    <BlogPosts />
    <Footer />
  </div>
</Layout>
