<main>
  <h1>Bento</h1>
  <div>
    <!-- Upper -->
    <div>
      <!-- Left -->
      <div>
        <div>
          <!-- Introduction -->
          <h1>Hi, I'm Paul Pietzko</h1>
          <p>
            I'm a software engineer and web developer based in Zurich,
            Switzerland.
          </p>
          <!-- Stats -->
          <div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- Right -->
      <div>
        <!-- Nav -->
        <div></div>
        <div>
          <img src="" alt="" />
          <div>
            <!-- Name -->
            <div></div>
            <!-- Location -->
            <div></div>
            <!-- Socials -->
            <div>
              <svg></svg>
              <svg></svg>
              <svg></svg>
              <svg></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Lower -->
    <div>
      <div>
        <!-- Projects -->
        <div></div>
        <div>
          <!-- P1 -->
          <div></div>
          <!-- P2 -->
          <div></div>
          <!-- P3 -->
          <div></div>
        </div>
      </div>
      <!-- About -->
      <div>
        <div></div>
        <p></p>
      </div>
    </div>
  </div>
</main>
