---
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <Container size="xl">
    <ul>
      <li><a href="https://github.com/paulpietzko">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/paulpietzko/">LinkedIn</a></li>
      <li><a href="https://x.com/paulpietzko">X</a></li>
    </ul>
  </Container>
</Layout>
