---
import LatestMediumStory from "../components/LatestMediumStory.astro";
import Footer from "../components/Footer.astro";
import GitHubStats from "../components/GitHubStats.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="selection:bg-green-400">
    <Hero />
    <Projects />
    <Skills />
    <LatestMediumStory />
    <GitHubStats />
    <Footer />
  </div>
</Layout>
