---
import Container from "../layouts/Container.astro";
import StoryCard from "./StoryCard.astro";
import SubTitle from "./SubTitle.astro";

let stories: {
  title: string;
  description: string;
  link: string;
}[] = [];

type StoryItem = {
  title: string;
  description: string;
  link: string;
};

const fetchStories = async () => {
  const response = await fetch(
    "https://api.rss2json.com/v1/api.json?rss_url=https://medium.com/feed/@paul.pietzko"
  );
  const data = await response.json();

  stories = data.items.slice(0, 6).map((item: StoryItem) => ({
    title: item.title,
    description: item.description,
    link: item.link,
  }));
};

await fetchStories();
---

<div class="mb-[10rem]">
  <Container size="xl">
    <SubTitle
      title="Latest Stories"
      text="The latest stories I\'ve written on Medium."
    />
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        stories.map((story) => (
          <StoryCard
            title={story.title}
            description={story.description}
            link={story.link}
          />
        ))
      }
    </div>
  </Container>
</div>
