---
import Container from "../layouts/Container.astro";
---

<footer>
  <Container size="xl">
    <h2
      class="footer-title w-full text-[17.5vw] 2xl:text-[12.7vw] leading-none tracking-tight"
    >
      let's connect
    </h2>
    <div class="footer-body my-5">
      <p>
        Feel free to <a
          class="font-bold underline"
          href="mailto:paul.pietzko@icloud.com">contact</a
        > me with any kind of question.
      </p>
      <ul class="social-links">
        <li>
          <a
            href="https://x.com/paulpietzko"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Follow Paul Pietzko on X"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              width="24"
              viewBox="0 0 512 512"
              ><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#B6B6B6"
                d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
              ></path></svg
            ></a
          >
        </li>
        <li>
          <a
            href="https://github.com/paulpietzko"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit Paul Pietzko on GitHub"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              width="24"
              viewBox="0 0 480 512"
              ><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#B6B6B6"
                d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"
              ></path></svg
            >
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/paulpietzko/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Connect with Paul Pietzko on LinkedIn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              width="24"
              viewBox="0 0 448 512"
              ><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#B6B6B6"
                d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
              ></path></svg
            ></a
          >
        </li>
      </ul>
    </div>
  </Container>

  <div class="w-full bg-white/30 h-0.5"></div>

  <Container size="xl">
    <div class="footer-bottom my-5">
      <p>Copyright &copy; {new Date().getFullYear()}</p>
      <p>Made by <a href="https://www.paulpietzko.com">Paul Pietzko</a></p>
    </div>
  </Container>
</footer>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-title {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .footer-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .social-links {
    display: flex;
    gap: 1rem;
  }

  .social-links li {
    list-style: none;
  }

  .social-links a {
    color: var(--text-color);
  }
</style>
