---
import Container from "../layouts/Container.astro";
import Navbar from "./Navbar.astro";

// Get the current year and calculate the years of experience since 2021-08-01
const currentYear = new Date().getFullYear();
const yearsOfExperience =
  currentYear -
  2021 -
  (new Date().getMonth() < 7 ||
  (new Date().getMonth() === 7 && new Date().getDate() < 1)
    ? 1
    : 0);
---

<section class="h-screen w-full flex flex-col text-white relative">
  <Navbar />

  <!-- Hero Content -->
  <Container size="xl">
    <div class="absolute bottom-[8rem] z-10">
      <h1 class="name text-[16vw] md:text-[12vw] font-bold leading-[0.8]">
        Paul <span
          class="text-[20vw] md:text-[16vw] block w-fit bg-yellow-300 text-dark-100 px-2 rounded-md"
        >Pietzko</span>
      </h1>
      <p
        class="mt-4 text-gray-300 max-w-md text-sm md:text-base lg:text-lg xl:text-xl"
      >
        I'm a Junior Full Stack Developer from Switzerland with {yearsOfExperience} years
        of experience.
      </p>
    </div>
  </Container>

  <!-- Overlay Image with Gradient -->
  <div class="absolute right-0 bottom-0 w-[50rem] h-[50rem]">
    <img
      src="/images/portfolio-hero-image.png"
      alt="Paul Pietzko"
      class="opacity-40"
    />
    <div
      class="absolute inset-0 pointer-events-none"
      style="background: linear-gradient(to bottom, transparent, #0a0a0a);"
    >
    </div>
  </div>
</section>

<!-- Tailwind Styles -->
<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

  .name {
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    font-style: normal;
  }
</style>
