---
import Container from "../layouts/Container.astro";
---

<Container size="xl">
  <nav class="flex flex-wrap justify-between items-center">
    <ul
      class="flex flex-wrap space-x-4 sm:space-x-8 text-white font-light text-sm"
    >
      <li><a href="/" class="hover:underline">Home</a></li>
      <li>
        <a href="https://medium.com/@paul.pietzko" class="hover:underline"
          >Blog</a
        >
      </li>
      <li>
        <a href="references" class="hover:underline">References</a>
      </li>
      <li><a href="imprint" class="hover:underline">Imprint</a></li>
    </ul>
    <a
      href="mailto:paul.pietzko@icloud.com"
      class="mt-4 sm:mt-0 relative border rounded-md border-white px-4 py-2 text-white overflow-hidden group"
    >
      <span
        class="absolute inset-0 bg-white transform scale-x-0 origin-left transition-transform duration-300 ease-out group-hover:scale-x-100"
      ></span>
      <span class="relative z-10 text-white group-hover:text-black"
        >Get in Touch</span
      >
    </a>
  </nav>
</Container>
