---
import Container from "../layouts/Container.astro";
import SubTitle from "./SubTitle.astro";
import ProjectCard from "./ProjectCard.astro";
---

<div class="mb-[5rem] overflow-x-hidden">
  <Container size="xl">
    <SubTitle
      title="Projects I worked on"
      text="Here are some of the projects I worked on in the past."
    />
  </Container>

  <section class="flex justify-between my-[5rem]">

    <!-- Left Card -->
    <ProjectCard
      link="https://2sxc.org/en/"
      imgSrc="/images/placeholder.png"
      imgAlt="2sxc"
      title="2sxc Project"
      description="A powerful content & app management solution."
      extraClasses="rotate-12 -ml-8"
    />

    <!-- Center Card -->
    <ProjectCard
      link="https://www.paulpietzko.com/en"
      imgSrc="/images/placeholder.png"
      imgAlt="paulpietzko portfolio site"
      title="Portfolio"
      description="A web portfolio showcasing past projects and experiences."
      extraClasses="-rotate-12"
    />

    <!-- Right Card -->
    <ProjectCard
      link="https://www.aspecs.ch/en"
      imgSrc="/images/placeholder.png"
      imgAlt="aspecs company site"
      title="Aspecs"
      description="A corporate site offering consulting and system integration."
      extraClasses="rotate-12 -mr-8"
    />
  </section>
</div>