---
import Container from "../layouts/Container.astro";
import SubTitle from "./SubTitle.astro";
import ProjectCard from "./ProjectCard.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mb-[5rem] overflow-x-hidden">
  <Container size="xl">
    <SubTitle
      title={t('projects.title')}
      text={t('projects.subTitle')}
    />
  </Container>

  <section class="flex justify-between my-[5rem]">

    <!-- Left Card -->
    <ProjectCard
      link="https://www.nanosights.dev"
      imgSrc="/images/nanosights.png"
      imgAlt="NanoSights"
      title="NanoSights Saas"
      text="projects.project-one.text"
      extraClasses="rotate-12 -ml-8"
    />

    <!-- Center Card -->
    <ProjectCard
      link="https://2sxc.org/en/"
      imgSrc="/images/2sxc.png"
      imgAlt="2sxc"
      title="2sxc CMS"
      text="projects.project-two.text"
      extraClasses="-rotate-12"
    />

    <!-- Right Card -->
    <ProjectCard
      link="https://school-sys.org/en/"
      imgSrc="/images/school-sys.png"
      imgAlt="SchoolSys"
      title="Swiss School System"
      text="projects.project-three.text"
      extraClasses="rotate-12 -mr-8"
    />
  </section>
</div>