<section class="flex justify-between">
  <!-- need to change overflow for y axis -->
  <!-- Left Card -->
  <img
    src="/images/placeholder.png"
    class="rotate-12 w-2/5 bg-white rounded-3xl shadow-md -ml-16"
    alt=""
  />
  <!-- Center Card -->
  <img
    src="/images/placeholder.png"
    class="-rotate-12 w-2/5 bg-white rounded-3xl shadow-md -ml-16"
    alt=""
  />
  <!-- Right Card -->
  <img
    src="/images/placeholder.png"
    class="rotate-12 w-2/5 bg-white rounded-3xl shadow-md -ml-16"
    alt=""
  />
</section>
