---
import skillsData from '../data/skillsdata.json';
import Container from '../layouts/Container.astro';
import Skill from './Skill.astro';

interface SkillType {
  name: string;
  level: string;
  icon: string;
}
---

<Container size="xl">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {skillsData.map(({ name, description, imageUrl, bgColor }) => (
      <Skill name={name} description={description} imageUrl={imageUrl} bgColor={bgColor} />
    ))}
  </div>
</Container>