---
import skillsData from "../data/SkillsData.json";
import Container from "../layouts/Container.astro";
import SkillCard from "./SkillCard.astro";

interface SkillType {
  name: string;
  level: string;
  icon: string;
}
---

<Container size="xl">
  <div class="mb-4">
    <h2><strong>My Techstack</strong></h2>
    <p>
      I excel in utilizing a variety of modern technologies to create highly
      effective solutions. Here are some of the key technologies I work with.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      skillsData.map(({ name, description, imageUrl, bgColor }) => (
        <SkillCard
          name={name}
          description={description}
          imageUrl={imageUrl}
          bgColor={bgColor}
        />
      ))
    }
  </div>
</Container>
