---
const { title, description, link } = Astro.props;
---

<a
  href={link}
  class="flex flex-col gap-5 p-2.5 rounded-xl border border-dark-200 bg-dark-200 hover:bg-dark-300 hover:border-dark-700 transition-colors duration-200"
>
  <div>
    <h4 class="text-lg font-medium">{title}</h4>
    <p class="text-sm" set:html={description.slice(0, 200) + "..."}></p>
  </div>
</a>
<link rel="canonical" href={link} />
