---
const { imageUrl, name, description, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-blocktext-white font-bold"
></a>
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img src={imageUrl} alt={name} class="w-full" />
  <div class="px-6 py-4">
    <h2 class="font-bold text-xl mb-2">{name}</h2>
    <div class="text-gray-700 text-base" Astro.render={{ __html: description }}>
    </div>
  </div>
</div>
