---
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import Container from "../../../layouts/Container.astro";
import Layout from "../../../layouts/Layout.astro";
import LegalLayout from "../../../layouts/Legal-Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}
---

<Layout>
  <LegalLayout title="Imprint">
    <Container size="xl">
      <p>
        Paul Pietzko<br />
        9470 Buchs<br />
        Switzerland
      </p>
      <div>
        <h2 class="text-2xl font-semibold mt-8 mb-4">Contact</h2>
        <p>
          Phone: +41 78 241 28 12
          <br />
          E-Mail:{" "}
          <a href="mailto:info@aspecs.ch" class="text-primary hover:underline">
            info@aspecs.ch
          </a>
        </p>
      </div>

      <div>
        <h2 class="text-2xl font-semibold mt-8 mb-4">
          Responsible for content
        </h2>
        <p>Paul Pietzko</p>
      </div>

      <div>
        <h2 class="text-2xl font-semibold mt-8 mb-4">Disclaimer</h2>
        <p>
          The contents of our pages have been created with the utmost care.
          However, I cannot guarantee the contents' accuracy, completeness, or
          topicality. According to statutory provisions, I am furthermore
          responsible for my own content on these web pages. In this context,
          please note that I am accordingly not obliged to monitor merely the
          transmitted or saved information of third parties, or investigate
          circumstances pointing to illegal activity.
        </p>
      </div>
    </Container>
  </LegalLayout>
</Layout>
