---
import { ClientRouter } from "astro:transitions";
---

<script>
  import "nano-analytics";
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio | Paul Pietzko</title>
  </head>

  <body class="bg-dark-100 text-white/70">
    <slot />
  </body>

  <ClientRouter />

  <nano-analytics
    projectKey="674ecacd44"
    userId="a5fb0950-8486-43a2-8ee5-dc4f551a4003"
  />
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
