---
import { getLangFromUrl } from "../i18n/utils";
import { ClientRouter } from "astro:transitions";

const lang = getLangFromUrl(Astro.url);
---

<script>
  import "nano-analytics";
</script>

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio | Paul Pietzko</title>
  </head>
  <body class="bg-dark-100 text-white/70">
    <slot />
  </body>

  <ClientRouter />

	<nano-analytics
    projectKey="674ecacd44"
    userId="a5fb0950-8486-43a2-8ee5-dc4f551a4003"
  />
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
