---
import { ClientRouter } from "astro:transitions";
---

<script>
  import "nano-analytics";
  import "nano-insights";
  import { track } from "nano-custom";
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio | Paul Pietzko</title>

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.paulpietzko.com" />

    <!-- Metadata -->
    <meta
      name="description"
      content="Portfolio website of Paul Pietzko. Discover projects, skills, and contact information."
    />
    <meta name="author" content="Paul Pietzko" />
    <meta
      name="keywords"
      content="Paul Pietzko, portfolio, web developer, projects, skills, contact"
    />
    <meta property="og:title" content="Portfolio | Paul Pietzko" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.paulpietzko.com" />
    <meta
      property="og:description"
      content="Portfolio website of Paul Pietzko. Discover projects, skills, and contact information."
    />
    <meta property="og:site_name" content="Paul Pietzko Portfolio" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Portfolio | Paul Pietzko" />
    <meta
      name="twitter:description"
      content="Portfolio website of Paul Pietzko. Discover projects, skills, and contact information."
    />
    <meta
      name="twitter:image"
      content="https://www.paulpietzko.com/og-image.png"
    />
    <meta name="twitter:site" content="@paulpietzko" />
  </head>

  <body class="bg-dark-100 text-white/70">
    <slot />
  </body>

  <ClientRouter />

  <nano-analytics
    projectKey="674ecacd44"
    userId="a5fb0950-8486-43a2-8ee5-dc4f551a4003"
  />
  <nano-insights
    projectKey="674ecacd44"
    userId="a5fb0950-8486-43a2-8ee5-dc4f551a4003"
  />
  <nano-custom
    projectKey="674ecacd44"
    userId="a5fb0950-8486-43a2-8ee5-dc4f551a4003"
  />
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
