---
import { ClientRouter } from "astro:transitions";
---

<script>
  import "nano-analytics";
  import "nano-insights";
  import { track } from "nano-custom";
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio | Paul Pietzko</title>
  </head>

  <body class="bg-dark-100 text-white/70">
    <slot />
  </body>

  <ClientRouter />

  <nano-analytics
    projectKey="meppr6sm4si84"
    userId="ad8b9db5-9ac3-4340-bde0-ecb2d0df081c"
  />
  <nano-insights
    projectKey="meppr6sm4si84"
    userId="ad8b9db5-9ac3-4340-bde0-ecb2d0df081c"
  />
  <nano-custom
    projectKey="meppr6sm4si84"
    userId="ad8b9db5-9ac3-4340-bde0-ecb2d0df081c"
  />

</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
